$purple: #a108dd;
$green:#118f00 ;
$yellow: #ebd300;
$red: #ff0000;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.btn{
    background-color: rgb(23, 128, 248);
    color: white;
    
}
.jumbotron {
    background-color: rgb(26, 200, 243);
    @include margenes(50px, 0px)
}
.footer {
    padding: 10px 5px 0px 5px;
    background-color: $purple;
    margin-top: 50px;
    margin-bottom: 0px;
    color: white;
}
.card-jp {
    flex: 1 200px;
    
}
.btn-2{
    width: 100%;
}
.cs{
    padding: 56px 0px 0px 0px;
}
.container{
    padding: 5px;
}