.btn {
  background-color: #1780f8;
  color: white;
}
.jumbotron {
  background-color: #1ac8f3;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 5px 0px 5px;
  background-color: #ab2ae2;
  margin-top: 50px;
  margin-bottom: 0px;
  color: white;
}
.card-jp {
  flex: 1 200px;
}
.btn-2 {
  width: 100%;
}
.cs {
  padding: 56px 0px 0px 0px;
}
.container {
  padding: 5px;
}
